---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle='About' pageDescription='About me'>
    <article class='mt-8'>
        <h1>About Me</h1>

        <p class='mb-6'>
            Hi! 👨‍💻 I'm Doug, a full-stack software engineer based in the United
            Kingdom. I work across the full technology stack using Node.js,
            TypeScript, Electron, and C++.
        </p>

        <p class='mb-6'>
            I enjoy designing and developing complex applications, especially
            those involving computational geometry and event-driven distributed
            architectures. My passion is for creative software that integrates
            heavily with the real world. I'm keen to challenge my skills with
            new languages and frameworks, and my attention has recently been
            drawn to Rust due to its impact on high-performance systems
            programming.
        </p>

        <p class='mb-6'>
            Previously I worked in lighting for the arts. Some of my credits
            include
            <a
                href='https://59productions.co.uk/project/invisible-cities/'
                class='external-link'
                target='_blank'
                rel='noopener'>Invisible Cities</a
            > (Associate Lighting Designer / Eos Programmer) and Yang Liping's Under
            Siege (Eos Programmer), as well as head of lighting for
            <a
                href='https://www.kilworthhouse.co.uk/kilworth-house-theatre/'
                class='external-link'
                target='_blank'
                rel='noopener'>Kilworth House Theatre</a
            > and the 2018
            <a
                href='https://www.wexfordopera.com'
                class='external-link'
                target='_blank'
                rel='noopener'>Wexford Festival Opera</a
            >.
        </p>
    </article>
</Layout>
