<div
    class='h-16 flex justify-center items-center shrink-0 text-sm text-gray-500'
>
    <p>
        &copy; 2024 Douglas Finlay · Made with 🧡 using <a
            href='https://astro.build'>Astro</a>
    </p>
</div>
