---
import SocialIcons from './SocialIcons.astro';
---

<footer
    class='flex flex-col justify-center items-center gap-4 text-center shrink-0 text-sm text-gray-500 px-2 py-8'
>
    <SocialIcons size={24} />
    <div>&copy; 2024 Douglas Finlay 🎭</div>
</footer>
