---
import { NAV, SITE } from '../config';
import DarkModeToggle from './DarkModeToggle.astro';
---

<nav class='container flex justify-between items-center h-24 shrink-0 px-2'>
    <div class='text-xl sm:text-2xl uppercase whitespace-nowrap'>
        <a href='/'>{SITE.title}</a>
    </div>

    <ul
        class='flex gap-6 items-center uppercase text-md'
        transition:animate='fade'
    >
        {
            Object.values(NAV).map(({ path, title }) => (
                <li>
                    <a
                        class:list={[
                            `border-b-2 hover:border-gray-700 transition`,
                            Astro.url.pathname !== path
                                ? 'border-transparent'
                                : '',
                            Astro.url.pathname === path
                                ? 'border-gray-700'
                                : '',
                        ]}
                        href={path}
                        title={title}
                    >
                        {title}
                    </a>
                </li>
            ))
        }

        <li><DarkModeToggle /></li>
    </ul>
</nav>
