---
import { Icon } from 'astro-icon/components';
import { SOCIALS } from '../config';
---

<div>
    <ul>
        {
            Object.values(SOCIALS).map((socialItem) => (
                <li class='inline-block mx-2 transition hover:scale-125'>
                    <a href={socialItem.url} aria-label={socialItem.label}>
                        <Icon name={socialItem.icon} size={28} />
                    </a>
                </li>
            ))
        }
    </ul>
</div>
