---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import { SITE } from '../config';
import '../styles/global.scss';

interface Props {
    fullWidth?: boolean;
    middle?: boolean;
    noPadding?: boolean;
    pageDescription?: string;
    pageTitle?: string;
}

const { fullWidth, middle, noPadding, pageDescription, pageTitle } =
    Astro.props;
---

<!doctype html>
<html lang='en'>
    <head>
        <Head
            title={pageTitle ? `${pageTitle} · ${SITE.title}` : SITE.title}
            description={pageDescription ?? SITE.description}
        />
    </head>

    <body class='bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-300'>
        <div class='flex flex-col h-screen'>
            <Header />

            <main
                class:list={[
                    'grow pb-4',
                    {
                        container: !fullWidth,
                        'px-2': !noPadding,
                        'flex flex-col justify-center': middle,
                    },
                ]}
            >
                <article>
                    <header>
                        {pageTitle && <h1 class='text-center'>{pageTitle}</h1>}
                    </header>

                    <slot />
                </article>
            </main>

            <Footer />
        </div>
    </body>
</html>
