{{ define "title" }}Theatre · Douglas Finlay{{ end }}

{{ define "content" }}
<section class="container theatre-credits">
    <article>
        <header>
            <h1 class="title">
                <a class="title-link"
                   href="http://localhost:1313/about/">Theatre</a>
            </h1>
        </header>

        {{ $creditYear := "" }}
        {{ $previousCreditYear := 10000 }}

        {{ range .Site.Data.theatre.credits }}

        {{ $creditYear = (dateFormat "2006" .from ) }}

        {{ if lt $creditYear $previousCreditYear }}
        <h2>{{ $creditYear }}</h2>
        {{ $previousCreditYear = $creditYear }}
        {{ end }}

        <div class="credit">
            <div class="header">
                <div class="row">
                    <div class="show-title">{{ .project }}</div>
                    <div class="show-venue">{{ .location }}</div>
                </div>

                <div class="show-company">{{ .company }}</div>
            </div>
            <div class="show-role">{{ .role }}</div>
        </div>
        {{ end }}
    </article>
</section>
{{ end }}